[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/robin-map"]
	path = external/robin-map
	url = https://github.com/Tessil/robin-map
